/* Estilos existentes */
.header {
    background-color: #04285b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.header.transparent {
    background-color: transparent;
}

.header:hover {
    background-color: #04285b;
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #e68bff;
}

.header .btn_ct button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn_ct button:hover {
    background-color: #e2f1f8;
    color: #e68bff;
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #04285b82;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #00122c82;
}

/* Estilos responsivos */
@media (max-width: 950px) {
    .header {
        justify-content: space-between;
    }
    .nav-links {
        display: none;
    }
    .btn_ct {
        display: none;
    }
    .header .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
        color: #eceff1;
    }
}

@media (max-width: 950px) {
    .side-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #04285b;
        z-index: 1001;
        padding-top: 60px;
        transition: 0.3s;
    }
    .side-menu a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #eceff1;
        display: block;
        transition: 0.3s;
    }
    .side-menu a:hover {
        color: #e68bff;
    }
    .side-menu .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 36px;
    }
    .open-side-menu {
        display: block;
    }
}

/* Estilo para el botón de menú */
.menu-toggle {
    display: none;
}

/* Estilo para abrir el menú lateral */
.open-side-menu {
    display: block;
}
