@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
html {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

#conocenos_sec, #equipo_sec, #actividad_sec ,#proyectos_sec, #publicaciones_sec, #cursos_sec, #eventos_sec, #voluntariado_sec, #contac_seccion{
    scroll-margin-top: 80px; /* Ajusta el valor según la altura de tu header */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #fff;
}



#sec_defin {
    margin: auto;
}

h1{
    font-size: 25px ;
}

h2 {
    color: #6a004f;
}

.mini_seccion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.micro_seccion {
    padding: 20px;
    width: 50%;
    height: auto;
}

@media (max-width: 785px) {
    .mini_seccion {
        flex-direction: column; /* Cambia a orientación vertical */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .micro_seccion {
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}

.def_sec {
    padding:20px;
    width: 100%; 
    box-sizing: border-box; 
}


.seccion{
    width: 70%;
    margin: auto;
    padding: 15px;
}

h6{
    font-size: 15px;
}

.descrip_personaje{
    padding: 10px;
    padding-top: 0px;
}
.titulos_perso {
    padding: 10px;
}


.parrafos_personaje{
    font-size: 15px;
}

#equipo_label{
    padding-bottom: 45px;
}

#proyectos_sec{
    padding: 20px;
}

#publicaciones_sec{
    padding: 20px;
}

#cursos_sec{
    padding: 20px;
}

#eventos_sec{
    padding: 20px;
}

#voluntariado_sec{
    padding: 20px;
}


#lista_oportunidades{
    padding: 25px;
}

#lista_detalles{
    padding: 25px;
}

#lista_areas{
    padding: 25px;
}

#detalles_voluntariado p{
    font-size: 15px;
    padding: 20px;
}

#postulacion_voluntariado{
    display: flex;
    flex-direction: column;
}

#postulacion_voluntariado p{
    font-size: 15px;
    padding: 20px;
}

.btn_voluntariado {
    max-height: 300px; /* Altura máxima del botón */
    width: 100%; /* Ocupa todo el ancho disponible */
    position: relative;
    overflow: hidden;
    display: flex; /* Usa flexbox para alinear la imagen */
    justify-content: center; /* Centra horizontalmente la imagen */
    align-items: center; /* Centra verticalmente la imagen */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave para transformaciones y opacidad */
}

.btn_voluntariado img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    max-height: 100%; /* Asegura que la imagen no exceda la altura máxima del botón */
    width: auto; /* Ajusta el ancho automáticamente */
    height: auto; /* Ajusta la altura automáticamente */
    vertical-align: middle; /* Alinea verticalmente la imagen */
}

.btn_voluntariado:hover {
    transform: scale(1.1); /* Escala el div al 110% en hover */
    opacity: 0.8; /* Reduce la opacidad al 80% en hover */
}

.btn_voluntariado:hover img {
    transform: scale(1); /* Vuelve al tamaño original al quitar el hover */
    opacity: 1; /* Vuelve a la opacidad original al quitar el hover */
}

